<form method="POST" action="{{ url_for('checkout.buat_checkout') }}"
      id="ringkasan-box"
      class="hidden bg-white dark:bg-slate-800 rounded-xl shadow p-5">

  <h2 class="font-semibold text-lg mb-4">Ringkasan Pembayaran</h2>

  {% for item in items %}
    <input type="hidden" name="item_id" value="{{ item.id_produk }}">
  {% endfor %}

  <input type="hidden" name="metode" id="metode-terpilih">
  <input type="hidden" name="bank" id="bank-terpilih">


  <div class="flex justify-between mb-2">
    <span>Total Belanja</span>
    <span class="font-bold">Rp {{ "{:,}".format(total_harga) }}</span>
  </div>

  <div id="biaya-admin" class="flex justify-between mb-2 hidden">
    <span>Biaya Admin</span>
    <span>Rp 2.500</span>
  </div>

  <div class="flex justify-between font-semibold text-lg mt-4">
    <span>Total Bayar</span>
    <span>Rp {{ "{:,}".format(total_harga) }}</span>
  </div>

  <button type="submit"
    class="w-full mt-6 bg-emerald-600 hover:bg-emerald-700 text-white py-3 rounded-xl font-semibold">
    Bayar Sekarang
  </button>
</form>
